@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Movie Review Website</p>
    <img src="https://comicvine1.cbsistatic.com/uploads/original/11139/111398367/7750288-copium.jpg" alt="COPIUM"/>
</div>
